In [1]:
#TABLE Parser
#Infers a table with arbitrary number of columns from reoccuring patterns in text lines

#Main assumptions Table identificatin:
#1) each row is either in one line or not a row at all [DONE]
#2) each column features at least one number (=dollar amount) [MISSING]
#2a) each column features at least one date-like string
#3) a table exists if rows are in narrow consecutive order and share similarities --> scoring algo [DONE] 
#4) each column is separated by more than 2 consecutive whitespace indicators (e.g. '  ' or '..')

#Feature List:
#1) Acknowledge Footnotes / make lower meta-data available
#2) make delimiter length smartly dependent on number of columns (iteration)
#3) expand non canonical values in tables [DONE] .. but only to the extent that type matches 
#4) UI: parameterize extraction on the show page on the fly
#5) more type inference (e.g. date)

In [128]:
import re
import os
import codecs
import string
from collections import OrderedDict

config = { "min_delimiter_length" : 3, "min_columns": 2, "min_consecutive_rows" : 3, "max_grace_rows" : 2,
          "caption_reorder_tolerance" : 10.0, "meta_info_lines_above" : 8, "aggregate_captions_missing" : 0.5}

In [129]:
import json
import sys

from flask import Flask, request, redirect, url_for, send_from_directory
from werkzeug import secure_filename

from flask import jsonify, render_template, make_response
import numpy as np
import pandas as pd

from pyxley import UILayout
from pyxley.filters import SelectButton
from pyxley.charts.mg import LineChart, Figure, ScatterPlot, Histogram
from pyxley.charts.datatables import DataTable

In [3]:
#Regex tester online: https://regex101.com
#Contrast with Basic table parsing capabilities of http://docs.astropy.org/en/latest/io/ascii/index.html

tokenize_pattern = "[.]{%i,}|[\ \$]{%i,}|" % ((config['min_delimiter_length'],)*2)
tokenize_pattern = "[.\ \$]{%i,}" % (config['min_delimiter_length'],)

column_pattern = OrderedDict()
#column_pattern['large_num'] = ur"\d{1,3}(,\d{3})*(\.\d+)?"
column_pattern['large_num'] = ur"(([0-9]{1,3})(,\d{3})+(\.[0-9]{2})?)"
column_pattern['small_float'] = ur"[0-9]+\.[0-9]+"
column_pattern['integer'] = ur"^\s*[0-9]+\s*$"
column_pattern['other'] = ur"([a-zA-Z0-9]{2,}\w)"
column_pattern['other'] = ur".+"

subtype_indicator = OrderedDict()
subtype_indicator['dollar'] = r".*\$.*"
subtype_indicator['rate'] = r"[%]"
subtype_indicator['year'] = "(20[0-9]{2})|(19[0-9]{2})"

In [4]:
#import dateutil.parser as date_parser
#(type, subtype, value, leftover)
def tag_token(token, ws):
    for t, p in column_pattern.iteritems():
        result = re.search(p, token)
        if result:
            leftover = token[:result.start()] + token[result.end():]
            value = token[result.start():result.end()]
            
            #First match on left-overs
            subtype = "none"
            for sub, indicator in subtype_indicator.iteritems():
                if re.match(indicator, leftover): subtype = sub
            #Only if no indicator matched there, try on full token
            if subtype == "none":
                for sub, indicator in subtype_indicator.iteritems():
                    if re.match(indicator, token): subtype = sub                    
            #Only if no indicator matched again, try on whitespace
            if subtype == "none":
                for sub, indicator in subtype_indicator.iteritems():
                    if re.match(indicator, ws): subtype = sub
            #print token, ":", ws, ":", subtype
            
            return t, subtype, value, leftover
    return "unknown", "none", token, ""
    
def row_feature(line):
    features = []
    matches = re.finditer(tokenize_pattern, line)
    start_end = [ (match.start(), match.end()) for match in matches]
    if len(start_end) < 1: 
        return features
    
    tokens = re.split(tokenize_pattern, line)
    if tokens[0] == "": 
        tokens = tokens[1:]
    else:
        start_end = [(0,0)] + start_end
    
    for se, token in zip(start_end, tokens):
        t, subtype, value, _ = tag_token(token, line[se[0]:se[1]])
        feature = {"start" : se[1], "value" : value, "type" : t, "subtype" : subtype}
        features.append(feature)
    return features

#date_parser.parse("asdf")

In [5]:
#Establish whether amount of rows is above a certain threshold and whether there is at least one number
def row_qualifies(row):
    return len(row) >= config['min_columns'] and sum( 1 if c['type'] in ['large_num', 'small_float', 'integer'] else 0 for c in row) > 0

def row_equal_types(row1, row2):
    max_len = max(len(row1), len(row2) )
    same_types = sum (map(lambda t: 1 if t[0]==t[1] else 0, ((c1['type'], c2['type']) for c1, c2 in zip(row1, row2))))
    return same_types == max_len

In [6]:
def filter_row_spans(row_features, row_qualifies):    

    min_consecutive = config["min_consecutive_rows"]
    grace_rows = config['max_grace_rows']

    last_qualified = None    
    consecutive = 0
    underqualified = 0
    i = 0
    
    for row in row_features:
        if row_qualifies(row):
            underqualified = 0
            if last_qualified is None:
                last_qualified = i
                consecutive = 1
            else:
                consecutive += 1
                
        else:
            underqualified += 1
            if underqualified > grace_rows:
                if consecutive >= min_consecutive:
                    yield last_qualified, i-underqualified+1
                    last_qualified = None                
                    consecutive = 0
                else:
                    last_qualified = None
                    consecutive = 0
                underqualified = 0
        #print i, underqualified, last_qualified, consecutive#, "" or row
        i += 1
        
    if consecutive >= min_consecutive:
        yield last_qualified, i-underqualified

In [126]:
from collections import Counter

def readjust_cols(feature_row, slots):
        feature_new = [{'value' : 'NaN'}] * len(slots)
        for v in feature_row:
            dist = [ abs((float(v['start'])) - s) for s in slots ]
            val , idx = min((val, idx) for (idx, val) in enumerate(dist))
            if val <= config['caption_reorder_tolerance']: feature_new[idx] = v
        return feature_new

def normalize_rows(rows_in, structure):
    
    slots = [c['start'] for c in structure] 
    nrcols = len(structure)
    
    for r in rows_in:
        if len(r) != nrcols:
            if len(r)/float(nrcols) > config['aggregate_captions_missing']:          
                yield readjust_cols(r, slots)
        else:
            yield r

#TODO: make side-effect free
def structure_rows(row_features, meta_features):
    #Determine maximum nr. of columns
    lengths = [len(r) for r in row_features]
    nrcols = max(lengths)
    canonical = filter(lambda r: len(r) == nrcols , row_features)
    
    #print canonical
    
    structure = []
    values = []
    for i in range(nrcols):
        col = {}
        col['start'] = float (sum (c[i]['start'] for c in canonical )) / len(canonical)
    
        types = Counter(c[i]['type'] for c in canonical)
        col['type'] = types.most_common(1)[0][0]
        subtypes = Counter(c[i]['subtype'] for c in canonical if c[i]['subtype'] is not "none")        
        subtype = "none" if len(subtypes) == 0 else subtypes.most_common(1)[0][0]
        col['subtype'] = subtype
        structure.append(col)
    
    #Add the first non canonical rows to the meta_features above data
    for r in row_features:
        if r in canonical:
            break
        else:
            meta_features.append(r)
            row_features.remove(r)
     
    #Try to find caption from first rows above the data, skip one empty row if necessary
    #Todo: make two steps process cleaner and more general
    if len(meta_features[-1]) == 0: meta_features = meta_features[:-1]
    caption = meta_features[-1] if len(meta_features[-1])/float(nrcols) > config['aggregate_captions_missing'] else None 
    if caption:
        slots = [c['start'] for c in structure] 
        meta_features = meta_features[:-1]              
        if len(caption) != nrcols: caption = readjust_cols(caption, slots)
        if len(meta_features[-1])/float(nrcols) > config['aggregate_captions_missing']:
            caption2 = readjust_cols(meta_features[-1], slots)
            for c,c2 in zip(caption, caption2):
                if c2['value'] != 'NaN':
                    c['value'] = c2['value'] + ' ' + c['value']
            meta_features = meta_features[:-1]
      
        #Assign captions as the value in structure
        for i, c in enumerate(caption):
            structure[i]['value'] = c['value']
    
    headers = []
    for h in meta_features:
        if len(h) == 1:
            headers.append(h[0]['value'])   
    
    #Expand all the non canonical rows with NaN values (Todo: if type matches)
    normalized_data = [r for r in normalize_rows(row_features, structure)]            
    
    return structure, normalized_data, headers

In [115]:
def output_table_html(txt_path):
    out = []
    out.append("--------" + txt_path + "--------")

    with codecs.open(txt_path, "r", "utf-8") as f:

        lines = [l.encode('ascii', 'ignore').replace('\n', '') for l in f]
        rows = [row_feature(l) for l in lines]

        for b,e in filter_row_spans(rows, row_qualifies):
            out.append("TABLE STARTING FROM LINE %i to %i" % (b,e))
            table = rows[b:e]
            structure, data, headers = structure_rows(table, rows[b-config['meta_info_lines_above']:b])

            for h in headers: out.append(h)
            if caption: 
                out.append("\t".join(caption))
            else:
                out.append('NO COLUMN NAMES DETECTED')

            for f in rows[b:e]:
                cols = "\t|\t".join([col['value']+" (%s, %s)" % (col['type'], col['subtype']) for col in f])
                out.append("%i %s" % (len(f), cols) )
    return out

def return_tables(txt_path):
    
    #Uniquely identify tables by their first row
    tables = OrderedDict()
    
    with codecs.open(txt_path, "r", "utf-8") as f:
        lines = [l.encode('ascii', 'ignore').replace('\n', '') for l in f]
        rows = [row_feature(l) for l in lines] 
        
        for b,e in filter_row_spans(rows, row_qualifies):
            table = {'begin_line' : b, 'end_line' : e}
            
            data_rows = rows[b:e]
            meta_rows = rows[b-config['meta_info_lines_above']:b]
            
            structure, data, headers = structure_rows(data_rows, meta_rows)
            
            #Construct df
            captions = [(col['value'] if 'value' in col.keys() else "---") +" (%s, %s)" % (col['type'], col['subtype']) for col in structure]
            
            table['captions'] = captions
            table['data'] = data           
            table['header'] = " | ".join(headers)
            
            tables[b] = table
    
    return tables

## Web App ##

In [124]:
TITLE = "docX - Table View"

scripts = [
    "./bower_components/jquery/dist/jquery.min.js",
    "./bower_components/datatables/media/js/jquery.dataTables.js",
    "./bower_components/d3/d3.min.js",
    "./bower_components/metrics-graphics/dist/metricsgraphics.js",
    "./require.min.js",
    "./bower_components/react/react.js",
    "./bower_components/react-bootstrap/react-bootstrap.min.js",
    "./bower_components/pyxley/build/pyxley.js",
]

css = [
    "./bower_components/bootstrap/dist/css/bootstrap.min.css",
    "./bower_components/metrics-graphics/dist/metricsgraphics.css",
    "./bower_components/datatables/media/css/jquery.dataTables.min.css",
    "./css/main.css"
]


UPLOAD_FOLDER = './'
ALLOWED_EXTENSIONS = set(['txt', 'pdf'])

app = Flask(__name__)
app.config['UPLOAD_FOLDER'] = UPLOAD_FOLDER

def get_extension(filename):
    return '.' in filename and \
           filename.rsplit('.', 1)[1] 

def allowed_file(filename):
    return get_extension(filename) in ALLOWED_EXTENSIONS

@app.route('/', methods=['GET', 'POST'])
def upload_file():
    if request.method == 'POST':
        file = request.files['file']
        min_columns = request.form['min_columns']
        if file and allowed_file(file.filename):
            filename = secure_filename(file.filename)
            extension = get_extension(file.filename)
            file.save(os.path.join(app.config['UPLOAD_FOLDER'], extension, filename))
            return redirect(url_for('uploaded_file',
                                    filename=filename, min_columns=min_columns))
    return '''
    <!doctype html>
    <title>docX - Table Extractor</title>
    <h1>Upload a pdf or txt file</h1>
    <form action="" method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
      <p>
          <h3>Select the minimum amount of <b>columns</b> tables should have</h3>      
          <select name="min_columns">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>      
    </form>
    '''

all_charts = {}
all_uis = {}

@app.route('/show/<filename>')
def uploaded_file(filename):
    extension = get_extension(filename)
    path = os.path.join(app.config['UPLOAD_FOLDER'], extension, filename)
    txt_path = os.path.join(app.config['UPLOAD_FOLDER'], 'txt', filename)
    if extension == "pdf":
        txt_path += '.txt'
        if not os.path.isfile(txt_path):
        #Layout preservation crucial to preserve clues about tabular data
            cmd = "pdftotext -layout %s %s" % (path, txt_path)
            os.system(cmd)
            
    min_columns = request.args.get('min_columns')
    tables = return_tables(txt_path)

    #Construct histogram
    lines_per_page = 80
    nr_data_rows = []
    for b, t in tables.iteritems():
        e = t['end_line']
        #print b, e
        for l in range(b, e):
            page = l / lines_per_page
            if len(nr_data_rows) <= page:
                nr_data_rows += ([0]*(page-len(nr_data_rows)+1))
            nr_data_rows[page] += 1
    dr = pd.DataFrame()
    dr['value'] = nr_data_rows
    dr['page'] = range(0, len(dr))
    
    js_layout = filename+".js"
      
    ui_show = UILayout(
    "FilterChart",
    "../static/bower_components/pyxley/build/pyxley.js",
    "component_id",
    filter_style="''")
    
    if filename in all_charts:
        print "old/update ui", filename        
        path_to_fig = '/show/line/'+filename
        #del all_charts[filename]
        #hFig = Figure(path_to_fig, "line")        
        #bc = LineChart(dr, hFig, "page", ["page"], "Rows containing Data per Page")    
    elif True:
        print "new ui", filename
        
        # Make a Button
        cols = ["page"]
        btn = SelectButton("Data", cols, "Data", "Data Rows per Page")

        # Make a FilterFrame and add the button to the UI
        ui_show.add_filter(btn)
        
        # Now make a FilterFrame for the histogram
        path_to_fig = '/show/line/'+filename
        hFig = Figure(path_to_fig, "line")
        hFig.layout.set_size(width=1000, height=300)
        hFig.layout.set_margin(left=80, right=80)
        #hFig.graphics.animate_on_load()

        bc = LineChart(dr, hFig, "page", ["value"], "Rows containing Data per Page")
        ui_show.add_chart(bc)
        all_charts[filename] = bc

        sb = ui_show.render_layout(app, "./static/ug/"+js_layout)
                
    _scripts = ["ug/"+js_layout]
    notices = ['Extraction Results for ' + filename, 'Ordered by lines']
    
    dfs = (table_to_df(table).to_html() for table in tables.values())
    headers = []
    for t in tables.values():
        if 'header' in t:
            headers.append(t['header'])
        else:
            headers.append('-')
            
    line_nrs = [('line %i-%i' % (t['begin_line'], t['end_line'])) for t in tables.values() ]
    #headers = ['aslkdfjas', ' alsdkfjasoedf']
    
    return render_template('index.html',
        title=TITLE + ' - ' + filename,
        base_scripts=scripts,
        page_scripts=_scripts,
        css=css, notices = notices, tables = dfs, headers=headers, line_nrs=line_nrs)

In [ ]:
app.run(debug=True, host='0.0.0.0')


## Tests ##

In [123]:
def table_to_df(table):
    df = pd.DataFrame()

    for i, c in enumerate(table['captions']):
        values = []
        for r in table['data']:
            values.append(r[i]['value'])
        df[c] = values
        
    return df

for file in os.listdir('txt'):
    
    print ("--------" + file + "--------")
    tables = return_tables('txt/'+file)
    
    #print tables
    
    #Construct histogram
    lines_per_page = 80
    nr_data_rows = []
    for b, t in tables.iteritems():
        e = t['end_line']
        #print b, e
        for l in range(b, e):
            page = l / lines_per_page
            if len(nr_data_rows) <= page:
                nr_data_rows += ([0]*(page-len(nr_data_rows)+1))
            nr_data_rows[page] += 1
    dr = pd.DataFrame()
    dr['value'] = nr_data_rows
    dr['page'] = range(0, len(dr))    
    #print dr.head()

    line_nrs = [('line %i-%i' % (t['begin_line'], t['end_line'])) for t in tables.values() ]
    print line_nrs
    
    for k, table in tables.iteritems():
        df = table_to_df(table)
        print k, ' !!! ', table['header'], ' -----------------'
        print df.head()


    #print dr

--------transcript_confirmation.pdf.txt--------
[]
--------ER862677-ER674128-ER1075876.pdf.txt--------
['line 80-100', 'line 218-262', 'line 270-306', 'line 576-596', 'line 659-671', 'line 730-736', 'line 749-754', 'line 1404-1421', 'line 1455-1461', 'line 1464-1469', 'line 1645-1657', 'line 1770-1779', 'line 1811-1818', 'line 1875-1881', 'line 1953-1974', 'line 1978-1993', 'line 2073-2080', 'line 2574-2582', 'line 3730-3734', 'line 3745-3749', 'line 3766-3770', 'line 3792-3795', 'line 3878-3888', 'line 3903-3919', 'line 3941-3948', 'line 3961-3972', 'line 3992-4003', 'line 4147-4165', 'line 4221-4232', 'line 4257-4278', 'line 4364-4371', 'line 4562-4577', 'line 4738-4763', 'line 5014-5024', 'line 5106-5115', 'line 5181-5219', 'line 5230-5261', 'line 5276-5303', 'line 5318-5349', 'line 5361-5387', 'line 5683-5688', 'line 5692-5696', 'line 5773-5781', 'line 5822-5841', 'line 5904-5930', 'line 5952-5976', 'line 5999-6021', 'line 6063-6074', 'line 6079-6090', 'line 6165-6176', 'line 6215-6222', 'line 6324-6327', 'line 6464-6471', 'line 6594-6608', 'line 6637-6646', 'line 9115-9148']
80  !!!  (City of Anaheim Water System Project) | MATURITY SCHEDULE | 58,205,000  -----------------
    Maturity Date (October 1) (integer, year)  \
0                                        2015
1                                        2016
2                                        2017
3                                        2018
4                                        2019

  Principal Amount (large_num, dollar) Interest Rate (small_float, rate)  \
0                              775,000                             2.000
1                            1,575,000                             2.000
2                            1,620,000                             3.000
3                            1,675,000                             4.000
4                            2,045,000                             5.000

  Yield (small_float, rate) CUSIP (other, none)
0                     0.100           13048TTV5
1                     0.300           13048TTW3
2                     0.660           13048TTX1
3                     0.930           13048TTY9
4                     1.150           13048TTZ6
218  !!!  TABLE OF CONTENTS | Page  -----------------
                               --- (other, none) --- (integer, none)
0                                   INTRODUCTION                   1
1                                        Purpose                   1
2  Security and Sources of Payment for the Bonds                   1
3                  The City and the Water System                   2
4                          Continuing Disclosure                   3
270  !!!  i | TABLE OF CONTENTS | (continued) | Page  -----------------
                                   --- (other, none) --- (integer, none)
0                                    Labor Relations                  33
1                                Retirement Programs                  34
2                         ADEQUACY OF WATER SUPPLIES                  35
3    Orange County Water District  Groundwater Basin                  35
4  Metropolitan Water District of Southern Califo...                  37
576  !!!  The 2008 Bonds to be refunded are more fully identified in the table below. | Refunded 2008 Bonds  -----------------
  Maturity Date (October 1) (integer, year)  \
0                                      2019
1                                      2020
2                                      2021
3                                      2022
4                                      2023

  Principal Amount (large_num, dollar) Interest Rate (small_float, rate)  \
0                              425,000                             4.000
1                              445,000                             4.250
2                            1,075,000                             4.375
3                            1,735,000                             4.375
4                            1,825,000                             4.500

  CUSIP (Base: 03255M) (other, none)
0                                MK0
1                                ML8
2                                MM6
3                                MN4
4                                MP9
659  !!!  6 | ESTIMATED SOURCES AND USES OF FUNDS | The estimated sources and uses of funds in connection with the issuance of the Bonds are as | SOURCES:  -----------------
             --- (other, none) --- (large_num, dollar)
0             Principal Amount              95,885,000
1                 Bond Premium              12,984,339
2     Other Available Funds(1)               6,600,643
3                Total Sources             115,469,982
4  Deposit to Acquisition Fund              41,000,000
730  !!!  Bonds maturing October 1, 2040  -----------------
  Redemption Date (October 1) (integer, year)  \
0                                        2035
1                                        2036
2                                        2037
3                                        2038
4                                        2039

  Redemption Amount (large_num, dollar)
0                             4,740,000
1                             4,925,000
2                             5,125,000
3                             5,330,000
4                             2,160,000
749  !!!  Bonds maturing October 1, 2045  -----------------
  Redemption Date (October 1) (integer, year)  \
0                                        2041
1                                        2042
2                                        2043
3                                        2044
4                                        2045

  Redemption Amount (large_num, dollar)
0                             2,360,000
1                             2,490,000
2                             2,620,000
3                             2,765,000
4                             2,910,000
1404  !!!  The following table sets forth statistical information relating to the Water System during the five | TABLE 1 | WATER SYSTEM STATISTICS | Fiscal Year Ended June 30  -----------------
                       NaN (other, none) 2014 (large_num, none)  \
0                                    NaN                   2014
1              Anaheim Population Served                348,305
2  Population Served Outside City (Est.)                  8,457
3                Total Population Served                356,762
4    Total Water Sales (Million Gallons)                 20,740

  2013 (large_num, none) 2012 (large_num, none) 2011 (large_num, none)  \
0                   2013                   2012                   2011
1                346,161                343,793                341,034
2                  9,000                  9,000                  9,000
3                355,161                352,793                350,034
4                 20,465                 19,672                 19,526

  2010 (large_num, none)
0                   2010
1                336,265
2                  9,000
3                345,265
4                 20,488
1455  !!!  The following table indicates the total water pumped from Water System wells and purchases of | TABLE 2 | WATER PRODUCTION | (Millions of Gallons) | Fiscal Year Ended June 30  -----------------
                 NaN (other, none) 2014 (large_num, none)  \
0                              NaN                   2014
1   Pumping from Groundwater Wells                 15,422
2         In-lieu Program Water(1)                     --
3                    CPTP Water(2)                  1,327
4  Total Pumping from System Wells                 16,749

  2013 (large_num, none) 2011 (large_num, none) NaN (large_num, none)  \
0                   2013                   2011                   NaN
1                 14,657                 11,216                13,291
2                     --                  2,735                   575
3                     --                     --                    --
4                 14,657                 13,951                13,866

  2010 (large_num, none)
0                   2010
1                 13,552
2                     --
3                     --
4                 13,552
1464  !!!    -----------------
                        --- (other, none) --- (large_num, none)
0  Purchases, not including in-lieu water                 7,086
1                    CUP Program Water(3)                   963
2                Total Purchases from MWD                 8,049
3              Percentage of Total Supply                   37%
4               Total Water Production(4)                21,601
1645  !!!  64.5 | 3.1 | table sets forth the volume of Water System sales by customer class and the corresponding revenues for | the five Fiscal Years shown: | TABLE 3 | WATER SALES | Fiscal Year Ended June 30  -----------------
             NaN (other, none) 2014 (large_num, dollar)  \
0                          NaN                     2014
1                  Residential                   12,189
2    Commercial and Industrial                    8,294
3                        Other                      257
4                        Total                   20,740

  2013 (large_num, dollar) 2012 (large_num, dollar) 2011 (large_num, dollar)  \
0                     2013                     2012                     2011
1                   12,166                   11,839                   11,566
2                    8,087                    7,607                    7,761
3                      212                      226                      199
4                   20,465                   19,672                   19,526

  2010 (large_num, dollar)
0                     2010
1                   12,196
2                    8,072
3                      220
4                   20,488
1770  !!!  26 | TABLE 5 | WATER RATE COMPARISON BY MONTHLY BILL | (as of February 1, 2015) | Average Residential Water Bill  -----------------
  Agency (other, none) (based on 20 hcf/month) (small_float, dollar)
0         Laguna Beach                                         88.16
1        Newport Beach                                         75.83
2               Tustin                                         70.71
3         Garden Grove                                         60.79
4            Santa Ana                                         58.04
1811  !!!  27 | TABLE 6 | OPERATING EXPENSES | (EXCLUDING DEPRECIATION AND AMORTIZATION) | (In Thousands) | Fiscal Year Ended June 30  -----------------
        NaN (other, none) 2014 (large_num, dollar) 2013 (large_num, dollar)  \
0                     NaN                     2014                     2013
1         Purchased water                   28,769                   27,729
2   Treatment and pumping                    8,433                    6,896
3          administration                   11,942                    9,357
4        Right of way fee                      902                      855

  2012 (large_num, dollar) 2011 (large_num, dollar) 2010 (large_num, dollar)
0                     2012                     2011                     2010
1                   28,088                   27,042                   27,227
2                    5,739                    6,166                    6,448
3                   10,788                   11,204                   11,556
4                      823                      836                      750
1875  !!!  The outstanding Qualified Obligations as of December 31, 2014 are summarized in the table | OUTSTANDING QUALIFIED OBLIGATIONS | Date of Installment  -----------------
                            Issue (other, none)  \
0            Anaheim Public Financing Authority
1    Anaheim Public Financing Authority Revenue
2    Anaheim Public Financing Authority Revenue

  Purchase Agreement or Other Instrument (other, none)  \
0                                           05/01/04
1                                           07/01/08
2                                           10/01/10

  Principal Amount Outstanding (large_num, dollar)
0                                          590,000
1                                       48,040,000
2                                       34,280,000
1953  !!!  30 | TABLE 7 | CITY OF ANAHEIM WATER UTILITY FUND | FINANCIAL RESULTS OF THE WATER SYSTEM | ($ in Thousands) | Fiscal Year Ended June 30,  -----------------
                         --- (other, none) --- (large_num, dollar)
0                                      NaN                    2010
1                              Residential                  32,677
2                    Commercial/Industrial                  19,973
3                                    Other                   1,808
4    Billed revenue from the sale of water                  54,458
1978  !!!    -----------------
   Senior Bond debt service requirements (b)  Deposits to Renewal and Replacement Account (other, none)  \
0                               SURPLUS REVENUES (c)
1                       Qualified Obligations (d)(1)
2                       PARITY DEBT SERVICE PAYMENTS
3               Transfers to Anaheim General Fund(2)
4               Transfers (to)/from other City funds

  -- (358) (large_num, dollar) -- (41) (large_num, dollar)  \
0                       16,575                      16,971
1                        6,322                       6,391
2                       10,253                      10,580
3                        2,619                       2,408
4                        (297)                        (49)

  -- (16) (large_num, dollar) -- (45) (large_num, dollar)  \
0                      13,876                      11,642
1                       6,392                       5,340
2                       7,484                       6,302
3                       2,374                       2,063
4                        (67)                       (795)

  -- (152) (large_num, dollar)
0                       11,654
1                        5,219
2                        6,435
3                        2,380
4                          784
2073  !!!  TABLE 9 | Water System Capital Program | Fiscal Years 2014-15 through 2018-19 | Five-Year  -----------------
  Program/Project Category (other, none)  \
0                            Water Mains
1                          Water Storage
2                       Other Capital(1)
3           Treatment Facility Expansion
4                                  Wells

  Project Costs (in $000s) (large_num, dollar)  \
0                                       46,538
1                                       14,357
2                                       13,489
3                                       12,465
4                                       10,113

  Cost as % of Total (small_float, rate)
0                                   44.1
1                                   13.6
2                                   12.8
3                                   11.8
4                                    9.6
2574  !!!  The following table summarizes water rates under MWDs current rate structure. This table | MWD WATER RATES(1) | (Dollars per Acre-Foot)  -----------------
        NaN (other, none) Tier 1 (integer, dollar) Tier 2 (integer, dollar)
0             Supply Rate                      156                      290
1      System Access Rate                      259                      259
2  Water Stewardship Rate                       41                       41
3       System Power Rate                      138                      138
4  Untreated Full Service                      594                      728
3730  !!!  The table below shows the funding progress of the three plans and is based on a June 30, 2011  -----------------
  Plan (other, none) Assets (AVA) (large_num, dollar)  \
0      Miscellaneous                          823,258
1      Police Safety                          453,318
2        Fire Safety                          274,471
3              Total                        1,551,047

  Accrued Liability (large_num, dollar) (UL) (B)-(A) (large_num, dollar)  \
0                             1,004,444                          181,186
1                               548,400                           95,082
2                               335,781                           61,310
3                             1,888,625                          337,578

  AVA (A)/(B) (small_float, rate) Market Value (small_float, rate)  \
0                            82.0                             72.6
1                            82.7                             73.7
2                            81.7                             72.6
3                            82.1                             72.9

  Covered Payroll (large_num, dollar) of Payroll (C)/(E) (small_float, rate)
0                             110,234                                  164.4
1                              44,567                                  213.3
2                              23,681                                  258.9
3                             178,482                                  189.1
3745  !!!  The table below shows the funding progress of the three plans and is based on a June 30, 2012  -----------------
  Plan (other, none) Assets (AVA) (large_num, dollar)  \
0      Miscellaneous                          854,296
1      Police Safety                          473,233
2        Fire Safety                          283,211
3              Total                        1,610,740

  Accrued Liability (large_num, dollar) (UL) (B)-(A) (large_num, dollar)  \
0                             1,045,037                          190,741
1                               565,214                           91,981
2                               345,725                           62,514
3                             1,955,976                          345,236

  AVA (A)/(B) (small_float, rate) Market Value (small_float, rate)  \
0                            81.7                             68.2
1                            83.7                             69.9
2                            81.9                             68.3
3                            82.5                             68.7

  Covered Payroll (large_num, dollar) of Payroll (C)/(E) (small_float, rate)
0                             105,544                                  180.7
1                              43,205                                  212.9
2                              22,967                                  272.2
3                             171,716                                  201.1
3766  !!!  A-6  -----------------
  Plan (other, none) Assets (AVA) (large_num, dollar)  \
0      Miscellaneous                          786,278
1      Police Safety                          435,595
2        Fire Safety                          257,573
3              Total                        1,479,446

  Accrued Liability (large_num, dollar) (UL) (B)-(A) (large_num, dollar)  \
0                             1,101,160                          314,882
1                               586,151                          150,556
2                               352,186                           94,613
3                             2,039,497                          560,051

  AVA (A)/(B) (small_float, rate) Market Value (small_float, rate)  \
0                            71.4                             71.4
1                            74.3                             74.3
2                            73.1                             73.1
3                            72.5                             72.5

  Covered Payroll (large_num, dollar) of Payroll (C)/(E) (small_float, rate)
0                             107,587                                  292.7
1                              41,946                                  358.9
2                              21,464                                  440.8

# Make a Button
cols = [c for c in df.columns if c != "Date"]
btn = SelectButton("Data", cols, "Data", "Steps")

# Make a FilterFrame and add the button to the UI
ui.add_filter(btn)

# Now make a FilterFrame for the histogram
hFig = Figure("/mghist/", "myhist")
hFig.layout.set_size(width=450, height=200)
hFig.layout.set_margin(left=40, right=40)
hFig.graphics.animate_on_load()
# Make a histogram with 20 bins
hc = Histogram(sf, hFig, "value", 20, init_params={"Data": "Steps"})
ui.add_chart(hc)

# Let's play with our input
df["Date"] = pd.to_datetime(df["Date"])
df["week"] = df["Date"].apply(lambda x: x.isocalendar()[1])
gf = df.groupby("week").agg({
        "Date": [np.min, np.max],
        "Steps": np.sum,
        "Calories Burned": np.sum,
        "Distance": np.sum
    }).reset_index()
f = lambda x: '_'.join(x) if (len(x[1]) > 0) and x[1] != 'sum' else x[0]
gf.columns = [f(c) for c in gf.columns]
gf = gf.sort_index(by="week", ascending=False)
gf["Date_amin"] = gf["Date_amin"].apply(lambda x: x.strftime("%Y-%m-%d"))
gf["Date_amax"] = gf["Date_amax"].apply(lambda x: x.strftime("%Y-%m-%d"))

cols = OrderedDict([
    ("week", {"label": "Week"}),
    ("Date_amin", {"label": "Start Date"}),
    ("Date_amax", {"label": "End Date"}),
    ("Calories Burned", {"label": "Calories Burned"}),
    ("Steps", {"label": "Steps"}),
    ("Distance", {"label": "Distance (mi)", "format": "%5.2f"})
])

tb = DataTable("mytable", "/mytable/", gf, columns=cols, paging=True, pageLength=5)
ui.add_chart(tb)

sb = ui.render_layout(app, "./static/layout.js")

In [ ]:
test_string ="""
        The following table sets forth statistical information relating to the Water System during the five
Fiscal Years shown.
                                                 TABLE 1
                                   WATER SYSTEM STATISTICS
                                                                               Fiscal Year Ended June 30
                                                                  2014         2013       2012     2011      2010
Anaheim Population Served ..................................     348,305      346,161   343,793   341,034   336,265
Population Served Outside City (Est.) ...................          8,457        9,000     9,000     9,000     9,000
        Total Population Served ...........................      356,762      355,161   352,793   350,034   345,265

  Total Water Sales (Million Gallons) ...................         20,740       20,465    19,672    19,526    20,488

Capacity (Million Gallons Per Day)
  From MWD Connections ...................................             110       110       110       110       110
  From Water System Wells (Average) ...............                     79        86        88        81        75
        Total Supply Capacity .............................            189       196       198       191       185

   Treatment Plant Capacity ..................................          15        15        15        15        15

Peak Day Distribution (Million Gallons) ...............                82.2      78.7     79.2      87.2      87.2
Average Daily Distribution (Million Gallons) .......                   60.3      58.9     57.3      59.4      56.1
Average Daily Sales Per Capita (Gallons) .............                159.3     157.9    152.8     152.8     162.6
__________________
Source: Anaheim

Existing Facilities

""".decode('ascii', 'ignore').split("\n")

In [ ]:
rows = [row_feature(l) for l in test_string]

tables = [rows[b:e] for b,e in filter_row_spans(rows, row_qualifies)]
table = tables[0]
s = structure_rows(table, rows[b-4:b])
print s[0]

In [ ]:
test_string ="""
                         CALIFORNIA MUNICIPAL FINANCE AUTHORITY
                                   Revenue Bonds, Series 2015-A
                              (City of Anaheim Water System Project)

                                          MATURITY SCHEDULE

                                            $58,205,000 Serial Bonds

  Maturity Date              Principal                Interest
   (October 1)               Amount                     Rate                   Yield                  CUSIP
       2015                 $ 775,000                 2.000%                   0.100%             13048TTV5
       2016                  1,575,000                2.000                    0.300              13048TTW3
       2017                  1,620,000                3.000                    0.660              13048TTX1
       2018                  1,675,000                4.000                    0.930              13048TTY9
       2019                  2,045,000                5.000                    1.150              13048TTZ6
       2020                  2,155,000                5.000                    1.320              13048TUA9
       2021                  2,250,000                4.000                    1.520              13048TUB7
       2022                  2,610,000                5.000                    1.670              13048TUC5
       2023                  2,730,000                4.000                    1.810              13048TUD3
       2024                  2,875,000                5.000                    1.920              13048TUE1
       2025                  3,025,000                5.000                    2.030(c)           13048TUF8
       2026                  3,190,000                5.000                    2.200(c)           13048TUG6
       2027                  3,355,000                5.000                    2.320(c)           13048TUH4
       2028                  3,520,000                5.000                    2.450(c)           13048TUJ0
       2029                  3,700,000                5.000                    2.520(c)           13048TUK7
       2030                  3,880,000                5.000                    2.600(c)           13048TUL5
       2031                  4,055,000                4.000                    3.140(c)           13048TUM3
       2032                  4,220,000                4.000                    3.190(c)           13048TUN1
       2033                  4,390,000                4.000                    3.230(c)           13048TUP6
       2034                  4,560,000                4.000                    3.270(c)           13048TUQ4

     $24,535,000 4.000% Term Bonds due October 1, 2040  Yield: 3.400%(c); CUSIP: 13048TUR2
     $13,145,000 5.250% Term Bonds due October 1, 2045  Yield: 2.970%(c); CUSIP: 13048TUS0
          
""".decode('ascii', 'ignore').split("\n")

In [ ]:
for file in os.listdir('txt'):
    
    print ("--------" + file + "--------")
    
    with codecs.open('txt/'+file, "r", "utf-8") as f:
        
        lines = [l.encode('ascii', 'ignore').replace('\n', '') for l in f]
        rows = [row_feature(l) for l in lines]

        for b,e in filter_row_spans(rows, row_qualifies):
            print "TABLE STARTING AT LINE", b
            table = rows[b:e]
            structure, data, headers = structure_rows(table, rows[b-config['meta_info_lines_above']:b])
            print headers
            captions = [(col['value'] if 'value' in col.keys() else "---") +" (%s, %s)" % (col['type'], col['subtype']) for col in structure]
            print captions  
            for r in data:
                cols = [col['value']+" (%s, %s)" % (col['type'], col['subtype']) for col in r]
                print len(cols), cols

In [ ]:
rstr ="""
Population Served Outside City (Est.) ...................          8,457        9,000     9,000     9,000     9,000
        Total Population Served ...........................      356,762      355,161   352,793   350,034   345,265
""".decode('ascii', 'ignore').split("\n")
for r in rstr:
    print "split", re.split(tokenize_pattern, r)
    print "token", [v['value'] for v in row_feature(r)], row_feature(r)

In [ ]:
#subtype_indicator['test'] = r'.*\$.*'
for sub, indicator in subtype_indicator.iteritems():
    print sub, indicator, re.match(indicator, "  ..........................................................     $  ")